*.class
*.log
.idea/
*.iml
*.iws
/.mvn/
target/
out/
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
.gradle/
build/
standalone/
.idea/.idea.history/
*.war
*.ear
*.jar
.DS_Store
Thumbs.db
